<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/cars">
            <img src="./assets/images/logo.png" alt="Logo">
        </a>


        <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="#/gestionVoitures/listeVoitures" routerLink="/cars" >Rent a Car</a>
            <a class="navbar-item" href="#/gestionVoitures/retourVoiture" routerLink="/getback">Get back a Car</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item"><a class="button is-danger" href="#/gestionVoitures/loginAdmin">Admin</a></div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
